.ManageShopsContainer h1{
    font-size: 3rem;
}
#add-shop-btn{
    background-color: #e3e71c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: black;
}
#add-shop-btn:hover{
    background-color: #b2af12;
}
#shops-table-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;
}
#shops-table{
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 8px;
    overflow: hidden;
    
}
#shops-table th, #shops-table td {
    padding: 10px 20px; /* smaller than default, feel free to tweak */
    min-width: 120px;
    border: 1px solid #d3d3d3; /* light grey */
}
#shops-table thead{
    background-color: #e3e71c;
    color: black;
}
#shops-table tbody tr:hover{
    background-color: #f5f5f5;
}

#edit-shop-btn, #delete-shop-btn{
    background-color: #e3e71c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: black;
    margin: 5px;
}
#edit-shop-btn:hover, #delete-shop-btn:hover{
    background-color: #b2af12;
}
#manage-shop-btn{
    background-color: #e3e71c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: black;
    margin: 5px;
}
#manage-shop-btn:hover{
    background-color: #b2af12;
}
#shops-table img{
    width: 250px;
    height: 250px;
}