* {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: rgb(23, 74, 129);
  color: white;
}
.container{
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Style the Nav Bar */
.nav{
  background-color: rgb(151, 125, 113);
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: black;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav a, button{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
}
.site-title{
  font-size: 4rem;
}
.nav li.active {
  color: white;
}
.nav li:hover{
  color: white;
  border-radius: 10px;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 10px;
  border: 3px solid black;
}
button:hover{
  background-color: rgb(6, 5, 9);
  color: white;
}
.cart a:hover{
  background-color: rgb(151, 125, 113);
  color: black;
}