#create-account-btn{
    cursor: pointer;
}
#register-container{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}
.error-message {
    color: red;
    font-size: 14px;
    min-height: 20px; /* Adjust as needed */
    display: block; /* Ensures space is always reserved */
    padding: 5px;
}
#register-heading{
    color: rgb(12, 1, 1);
}
#already-registered{
    color: black;
}
#register-text{
    color: black;
    text-decoration: underline;
}
.no-account{
    font-size: 15px;
}
