/* Buy-tickets.css */

.buy-tickets-container {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}
.buy-tickets-page{
  background-image: url('/public/images/buy-tickets-background.jpg'); /* Relative to the public folder */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* Ensures it covers the full height of the screen */
  padding: 2rem;
}

.buy-tickets-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.buy-tickets-datePicker {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.buy-tickets-ticketOption {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
}

.buy-tickets-ticketOption span {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 16px;
  
}

.buy-tickets-ticketInput {
  width: 60px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.buy-tickets-total {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
}

.buy-tickets-button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-tickets-button:hover {
  background-color: #4562a0;
}

.buy-tickets-button:focus {
  outline: none;
}
